* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

html {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.container__black {
    text-align: center;
    background: #000;
    line-height: 24px;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg__photo-1 {
    background-image: url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 800px;
    background-size: cover;
    position: relative;
}


.menu__list {
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.language {
    position: absolute;
    right: 31px;
}

.menu__item {
    font-family: 'Roboto-Regular', sans-serif;
    color: #000;
    font-weight: 400;
}

h1, h2 {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    font-size: 85px;
    line-height: 0.87;
}

.container__small {
    background-color: #000;
    border-radius: 78px;
    width: 392px;
    height: 57px;
    opacity: .7;
    position: absolute;
    right: 30px;
    bottom: 65px;
    
}

.button__ok {
    background-color: #F5AFB9;
    width: 62px;
    height: 35px;
    border-radius: 17.5px;
    position: absolute;
    right: 10px;
    top: 14px;
}

.button__text {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

.cookies__text {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-right: 136px;
}

.cookies__text span {
    padding-left: 24px;
}

 .circle {
    width: 79px;
    height: 80px;
    background: black;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
}

.circle__arrow {
    position: absolute;
    left: 30px; 
    bottom: 31px; 
}


.about__products {
    background-color: #F47B3D;
    width: 100%;
    height: 3648px;
}

.container__page-2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 60px 20px;
    max-width: 1000px; 
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 40px;
}

.about__products-title {
     font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    padding-bottom: 24px;
    font-size: 85px;
    max-width: 506px;
    
}

.about__products-img {
    padding-top: 75px;
}


.about__products-text {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    line-height: 24px;
    color: #000;
    text-align: left;
    flex-wrap: wrap;
    font-size: 16px;
    max-width: 491px;
    
}

.container__products {
    display: flex;
    
}


.backgrounds {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 132px;
    padding-left: 61px;
    overflow: hidden;
    flex-wrap: nowrap;
    gap: 61px;
}


.bg__cyan {
    background-color: #72A080;
}

.background__products-flex {
    display: flex;
    flex-direction: column;
    border-radius: 275px;
    min-width:360px;
}

.bg__brown {
    background-color: #A95D50;
}

.bg__purple {
    background-color: #ABAFD6;
}

.bg__yellow {
    background-color: #FECF6B;
}



.container__text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     max-width: 311px; 
}

.about__products-textbox {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 0.8;
    color: #000;
    font-size: 36px;
    margin-top: -35px;
}

.about__products-price {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.5;
    font-size: 21px;
    color: #000;
}


.button__can-main {
    width: 182px;
    height: 47px;
    border-radius: 36px;
    border: none;
    display: inline-block;
    margin-top: 10px;
}

.button__can-cyan {
    background-color: #72A080;
}

.button__can-brown {
    background-color: #A95D50;
}

.button__can-purple {
    background-color: #ABAFD6;
}

.button__can-yellow {
    background-color: #FECF6B;
}


 .wild__way {
    margin-top: 419px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F47B3D;
    padding: 100px;
    overflow: hidden;
    position: relative;
}

.wild__text {
    max-width: 40%;
    color: #000;
    line-height: 0.9;
}

.wild__text h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    font-size: 85px;
    margin-bottom: 20px;
    line-height: 1.1;
}


.wild__text p {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 47px;
}

.wild__text button {
    width: 260px;
    height: 24px;
    border-radius: 32px;
    margin-top: 30px;
    background: #000;
    border: none;
    color: #fff;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}

.wild__images {
    position: relative;
    width: 50%;
    margin: 315px 0;
}

.wild__images .img {
    position: absolute;
    width: 540px;
    height: 657px;
}

.bg1 {
    transform: rotate(0deg);
    z-index: 3;
    bottom: -280px;
}

.bg2 {
    left: -135px;
    bottom: -280px;
    transform: rotate(-15deg);
    z-index: 2;
}

.bg3 {
    right: 70px;
    bottom: -280px;
    transform: rotate(15deg);
    z-index: 1;
}


.nut__section {
    margin-top: 305px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F47B3D;
    color: #000;
}

.nut__left {
    background-color: #BE5A4B;
    color: black;
    border-top-right-radius: 220px;
    border-bottom-right-radius: 0;
    padding: 50px;
    flex: 1;
    position: relative;
    max-width: 50%;
    min-height: 1000px;
}

.container__flex {
    display: flex;
    justify-content: space-evenly;
    gap: 19px;
}

.header__nut {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    font-size: 85px;
    line-height: 1.1;
    margin: 0 0 20px;
    text-align: left;
}

.nut__left h3 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    font-size: 42px;
    line-height: 1.2;
    margin: 0;
}

.nut__section-text{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

.nut__left .price {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 21px;
}

.nut__left button {
    width: 187px;
    height: 30px;
    border-radius: 40px;
    background: #000;
    border: none;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-top: 46px;
}


.nut__img-circle img {
    position: relative;
    z-index: 2;
}


.rock__hand {
    position: absolute;
    top: 180px;
    right: 135px;
    width: 85px;
    z-index: 1;
}

.nut__right {
    padding-left: 95px;
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nut__right .subtitle {
    font-size: 21px;
    margin-bottom: 92px;
    text-transform: uppercase;
    line-height: 1.5;
}

.treasures {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    padding: 0;
    font-size: 40px;
    line-height: 1.25;
}

.treasures li {
    border-bottom: 1px solid #000;
    padding: 10px 0;
    max-width: 255px;
    margin-bottom: 78px;
}

.treasures sup {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


.about__shops {
    width: 100%;
    height: 400px;
    background-color: #E9A8C6;
}


.about__shops-header {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
    font-size: 21px;
    padding-top: 31px;
    text-align: center;
}


.about__shops-header img {
    padding: 55px 0 25px;
}


.container__lips {
    width: 93px;
    display: flex;
    justify-content: space-around;
}


.container__lips-header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.container__lips-text {
    display: flex;
    justify-content: space-around;

}

.underheader {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.5;
    font-size: 18px;
    color: #000;
    text-align: center;

}

.about__shops-text {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    margin-top: 18px;
    text-align: center;
}


.dots {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.dot__1 {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
}

.dot__2 {
    width: 10px;
    height: 10px;
    background-color: #000;
}

.concept__store {
    background: #F5AFB9;
    width: 100%;
    height: 4810px;

}

.container__concept-store {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

.container__store-info {
    display: flex;
    justify-content: space-evenly;
}

.container__store-text h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    font-size: 85px;
    margin-top: 40px;
}

.container__store-text p {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    margin-bottom: 55px;
}

.about__store-btn {
    width: 260px;
    height: 24px;
    border-radius: 32px;
    background-color: #000;
    color: #fff;
}

.container__store-img {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 300px;
    width: 50%;
}

.container__store-img img {
    position: absolute;
    width: 486px;
    height: 612px;
}


.store__img-1 {
    transform: rotate(0deg);
    z-index: 3;
    top: -300px;    
}


.store__img-2 {
    transform: rotate(15deg);
    z-index: 2;
    top: -330px;
    left: 340px;
}


.store__img-3 {
    transform: rotate(-15deg);
    z-index: 1;
    top: -330px;
    right: 340px;
}

.wild__halva {
    padding-top: 540px;
    display: flex;
    gap: 15px;
}

.wild__halva-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container__bg-blue {
    min-width: 60%;
    background-color: #ABAFD6;
    border-top-right-radius: 220px;
    height: 681px;
}

.container__bg-blue-1 {
    width: 147px;
    height: 499px;
    background-color: #ABAFD6;
}


.container__bg-blue h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    font-size: 85px;
    color: black;
    padding-top: 90px;
}

.container__bg-blue h3 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.25;
    font-size: 42px;
    color: #000;
}

.about__halva-text {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    padding-top: 75px;
}

.wild__halva-price {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 21px;
    color: #000;
    padding-top: 30px;
}

.wild__halva-btn {
    width: 297px;
    height: 30px;
    border-radius: 40px;
    background-color: #000;
    border: none;
    margin-top: 50px;
    color: #fff;
    font-size: 14px;
    line-height: 2.2;
}


.container__bg-red {
    background-color: #EC4844;
    width: 445px;
    height: 681px;
}

.container__bg-red h1 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 42px;
}

.container__bg-red img {
    padding: 65px 150px;
}

.wild__halva-btn-red {
    width: 297px;
    height: 64px;
    background-color: #000;
    border: none;
    border-radius: 40px;
    color: #fff;
    margin: 25px 75px;
}



.about__treasures {
    padding-top: 190px;
}


.about__recipes {
    padding-top: 450px;
}

.about__wild-recipes {
    display: flex;
    justify-content: space-evenly;
}

.about__recipes-header {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    font-size: 85px;
}

.about__recipes-text {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    padding: 30px 0 190px;
}

.about__recipes-img {
    display: flex;
    justify-content: space-between;
}

.padding__top {
    padding-top: 55px;
}


.about__recipes-img-header {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #000;
    font-size: 42px; 
}


.about__recipes-img-text {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
    color: #000;
    padding: 45px 0 25px;
    text-transform: uppercase;
}

.footer {
    width: 100%;
    height: 1362px;
    background-color: #BE5A4B;
}


.footer__img {
    padding-top: 135px;
    margin-left: 900px;
} 

.footer__flex {
    display: flex;
    justify-content: space-evenly;
}

.stay__wild-header {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.1;
    font-size: 85px;
    color: #000;
    margin-top: 115px; 
}

.stay__wild-text {
    padding: 20px 0 5px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    color: #000;
    border-bottom: 1px solid #000;
    width: 445px;
}


.stay__wild-follow {
    padding-top: 110px;
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 32px;
    color: #000;
}


.stay__wild-copyright {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    color: #000;
} 

.follow__flex-1 {
    display: flex;
    gap: 20px;
    padding: 35px 0 75px;
}

.follow__flex-2 {
    display: flex;
    gap: 15px;
    padding-bottom: 25px;
}


.products__contacts-header {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 32px;
    color: #000;
    padding-bottom: 20px;
    margin-top: 115px; 
}  

.products__contacts-list {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
    color: #000;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
}

.products__contacts a {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: #000; 
}

.company__help-header {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 32px;
    color: #000;
    padding-bottom: 20px;
    margin-top: 115px;
}

.company__help-list {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
    color: #000;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
}


.footer__bottom {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    margin-right: 125px;
}
